<div class="container d-flex flex-column align-items-center justify-center">
    <h2 class="trip-title">Create your own Trip</h2>
    <div class="container w-50">
        <%= render 'form', trip: @trip %>
    </div>
</div>