<% if user_signed_in? && !current_user.pilot %>
  <h2>Welcome! <%= current_user.first_name %></h2>
<% end %>

<% if user_signed_in? && current_user.pilot %>
  <h2>Welcome! <%= current_user.first_name %></h2>
  <%= link_to 'Create your Trip',  new_trip_path, class: 'btn btn-gradient'  %>
<% end %>
