//  Card Product layout (Card main component)

.card-product {
  margin-top: 100px;
  overflow: hidden;
  height: 200px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

// Image inside card layout

.card-product img {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

// Pilot homescreen card title

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

// Card subtitle (No Trip/No Ticket Card)

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

// Padding for the content inside the card (Title and subtitle)

.card-product-infos {
  padding-left: 20px;
  padding: 16px;
}

// Title above "Your Trip Info" card

.title-ticket {
  color: #ffffff;
  padding-bottom: 5px;
}

// "Your Trip Info" - Buy Ticket card layout

#class-selection-card {
  padding: 25px;
  margin-top: 0px;
  height: 200px;
  width: 500px;
  border-radius: 25px;
  // background-color: rgb(187, 187, 187);
}

// Selector for classes (First Class etc.)

.select.optional {
  color: black;
  margin-top: 0px;
  white-space: nowrap;
}

// (Buy Ticket Card) Margin between the class selector and text above

#info-end {
  margin-bottom: 30px;
}

// Class selector with measurements

#ticket_class_option {
  width: 100%;
  padding: 0;
  margin: 0;
}

// Button Layout (Align and display)

.selection-button {
  display: inline-block;
  align-items: center;
}

// Buy Button on Buy Ticket card

#buy-button {
  color: #ffffff;
  align-items: baseline;
  height: 35px;
  padding: 6px;
}

// Text setup for titles in cards (font and color)

.card-product .card-product-infos h2 {
  font-family: 'Fredoka One';
  font-size: 20px;
  color: #00C2EA;
}

// Pilot screen card call-to-action button with hover

.btn-space {
    background-color: #00C2EA;
    border-color: #00C2EA;
    border-radius: 25px;
    transition: 1s ease-in-out .5s;
    &:hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        transition: 0.1s ease-in-out 0.1s;
        background-color: #008eaa !important;
    }
}

// Text color options for "p", regular and strong

.text-color-p {
  color: #00C2EA;
  margin-left: 50px;
}

.text-color-p strong {
  color: black;
}

// No Tickets Card Title

.no-ticket {
  color: #03C2EA;
  font-size: 27px;
}

// No Trips Card Title

.no-trip {
  color: #03C2EA;
  font-size: 26px;
}

// Subtitle above the buttons on the No trips card
.above-button {
  color: black;
}