
.card-product {
  margin-top: 100px;
  overflow: hidden;
  height: 200px;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px rgb(255, 255, 255);
  display: flex;
  align-items: center;
}

.card-product img {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-infos {
  padding-left: 20px;
  padding: 16px;
}

// Ticket info & buy ticket screen

.title-ticket {
  color: #ffffff;
  padding-bottom: 5px;
}

#class-selection-card {
  padding: 25px;
  margin-top: 0px;
  height: 200px;
  width: 500px;
  border-radius: 25px;
  // background-color: rgb(187, 187, 187);
}


.select.optional {
  color: black;
  margin-top: 0px;
  white-space: nowrap;
}

#info-end {
  margin-bottom: 30px;
}

#ticket_class_option {
  width: 100%;
  padding: 0;
  margin: 0;
}

.selection-button {
  display: inline-block;
  align-items: center;
}

#buy-button {
  color: #ffffff;
  align-items: baseline;
  height: 35px;
  padding: 6px;
}

//
.card-product .card-product-infos h2 {
  font-family: 'Fredoka One';
  font-size: 20px;
  color: #00C2EA;
}

.btn-space {
    background-color: #00C2EA;
    border-color: #00C2EA;
    border-radius: 25px;
    transition: 1s ease-in-out .5s;
    &:hover {
        -webkit-transition-delay: 0s;
        -moz-transition-delay: 0s;
        -ms-transition-delay: 0s;
        -o-transition-delay: 0s;
        transition-delay: 0s;
        transition: 0.1s ease-in-out 0.1s;
        background-color: #008eaa !important;
    }
}

.text-color-p {
  color: #00C2EA;
  margin-left: 50px;
}

.text-color-p strong {
  color: black;
}

// No Tickets Card

.no-ticket {
  color: #03C2EA;
  font-size: 27px;
}

// No Trips Card

.no-trip {
  color: #03C2EA;
  font-size: 26px;
}
