// Layout for the navbar (main component)

.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  font-size: 25px;
  padding: 15px;
  margin-bottom: 10px;
  padding-bottom: 15px;
}

// Options on navbar, with hover

.nav-link {
    color: #fff !important;
    display: block;
    opacity:0.5;    
} 

a:hover {
      color: #fff !important;
      opacity: 1;
      border-bottom: 1px solid #fff;
}

// Cosmonaut logo

.logo-astro {
    font-size: 25px;
    width: 80px !important;
    height: 60px;
}

// Layout and spacing for navbar 

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-item {
  padding-left: 15px;
}

//