.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  font-size: 25px;
  padding: 5px;
  .nav-link {
    color: #fff !important;
    &:hover {
      border-bottom: 3px solid #fff;
    }
  } 
}

.logo-astro {
    
    font-size: 25px;
    padding-left: 10px;
    width: 80px !important;
    height: 60px;
    &:hover {
      border-bottom: 3px solid #fff;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
