.col-form-label {
    color: white;
}

.form-text.text-muted {
    color: white !important;
}


.trip-title {
    font-size: 100px;
}

.card-product-infos p {
    padding-top: 5px;
    font-size: 20px !important;
}

.card-product-resize {
  height: 550px !important;
  width: 850px !important;
}

.card-product-resize img {
  height: 100%;
  width: 500px !important;
  object-fit: cover;
}
